<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {{ _site_name }}
    {{ if segment_1 }}
    – {{ title }}
    {{ endif }}
  </title>

   <!-- <script src="http://192.168.0.1:35729/livereload.js?snipver=1"></script> -->
  {{ theme:css src="main" tag="true" }}



  <link rel="icon" type="image/png" href="{{ theme:img src="favicon.png" }}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="{{ theme:js src="main" }}"></script>

</head>

    <body>

    <div class="page-wrap">

    {{ layout_content }}

    </div>

    <footer class="site-footer">&copy; Adam Weisman - {{ current_date format="Y"}} </footer>


<script>
  
</script>
</body>
</html>