<nav id="landing-nav">
	<div class="container">
		{{ theme:partial src="nav-landing" }}
	</div>
</nav>

<div class="container">
	{{ entries:listing folder="portfolio" }}
	
	<div class="portfolio-item">
		<a class="portfolio-image" href="{{ url }}">
			<div class="caption">
			<div>
			<h2 class="title">{{ title }}</h2>
			{{ if subHeader|not_empty }}
			<p class="subHeader">{{ subHeader }}</p>
			{{ endif }}
			</div>
			</div>
			{{ if mainImage|not_empty }}
				<img src="{{ transform
				src="{{ mainImage }}"
				width="492"
				height="200"
				action="smart"
				}}" alt="" class="portfolio_img">
			{{ endif }}

	</a>
</div>



{{ /entries:listing }}

</div>
