

{{ theme:partial src="nav-content" }}

<section class="portfolio-page">
	<div class="container">
		<div class="fixed-header-text">
			<div class="container">
				<div class="fixed-header-left">
					{{ if fixedHeaderText|not_empty }} 
						{{ fixedHeaderText }}
					{{ endif }}
					<div class="divider"></div>
				</div>
				<div class="fixed-header-right">
				{{ if categories|not_empty }} 
					{{ categories }}
					<p> {{ value|title }}</p>
					{{ /categories }}
				{{ endif }}
				</div>
			</div>

		</div>
	</div>

	<div class="container">
		<div class="portfolio-content">
		{{ videos }}
			{{ if video|not_empty }}
			<div class="video-wrapper">
			{{ video }}
			</div>
			{{ endif }}
		{{ /videos }}
		
		{{ images }}
		<div class="image-content">
			{{ if content|not_empty }}
			{{ content }}
			{{ endif }}
			{{ if contentImage|not_empty }}
			<img src="{{ contentImage }}" alt="">
			{{ endif  }}
		</div>
		{{ /images }}
		</div>
	</div>

</section>
