{{ theme:partial src="nav-resume" }}

<div class="container resume-container">

<h2>DOWNLOAD RESUMES</h2>
<div class="resume-headers left">
		<h3 class="resume-download"><a href="{{ resumePdfFun }}" download="Adam.Weisman_FUN.resume.pdf" >fun<span>///</span>non-traditional</a></h3>
		<div class="divider"></div>
</div>
<div class="resume-headers right">
		<h3 class="resume-download"><a href="{{ resumePdfBoring }}" download="Adam.Weisman_TRADITIONAL.resume.pdf">boring<span>///</span>traditional</a></h3>
		<div class="divider"></div>
</div>

{{ resumes }}
<div class="resume">
    <a class="resume-image" href="{{ resumeImageFullsize }}"><div>Preview</div><img src="{{ resumeImageThumbnail }}" alt=""></a>
 </div>
{{ /resumes }}

</div>