<div class="landing-nav left">
	<img src="assets/img/weisman_logo.gif" alt="">
</div>

<div class="landing-nav right">
	<ul class="details">
		<li>
			<h2>SR. ART DIRECTOR</h2>
			<div class="border"></div>
		</li>
		<li>
			<a href="mailto:adweisman@gmail.com"><h4>holler@me</h4></a>
			<div class="border"></div>
		</li>

	</ul>
	<ul class="contact">
		<li>
			<a href="/resume"><h4>download fun or boring resume</h4></a>
			<div class="border"></div>
		</li>

	</ul>
</div>

<!-- <div class="landing-nav right">
<ul>
	<li>
	<a href="mailto:adweisman@gmail.com"><h4>holler@me</h4></a>
	<div class="border"></div>
	</li>
	<li>
	<h4>408.605.8269</h4>
	<div class="border"></div>
	</li>
</ul>
</div> -->