<div class="content-nav-main">
	<div class="content-nav left">
		<ul>
		<li><a href="{{ homepage }}">Adam Weisman</a></li>
		{{ nav from="/" exclude="about|resume" }}
			<li><p>Work</p>
			<div class="border"></div>
				{{ if is_current || is_parent }}
				{{ if children }}
				<ul>
					{{ *recursive children* }}
				</ul>
				{{ endif }}
				{{ endif }}
			</li>
			{{ /nav }}
		</ul>
	</div>
	
	<div class="content-nav right">
		<ul>
			<li>
				<a href="mailto:adweisman@gmail"><h4>CONTACT</h4></a>
				<div class="border"></div>
			</li>
		</ul>

			{{ entries:previous folder="portfolio" }}
				{{ if !no_results }}
					<a href="{{ url }}" class="older">
						<span class="paginate previous enabled">&lt</span>
						
					</a>
				{{ else}} 
				<span class="paginate previous disabled">&lt;</span>
				{{ endif }}
			{{ /entries:previous }}
			
			{{ entries:next folder="portfolio" }}
				{{ if !no_results }}
					<a href="{{ url }}" class="older">
						<span class="paginate previous enabled">&gt;</span>
						
					</a>
				{{ else}} 
				<span class="paginate previous disabled">&gt;</span>
				{{ endif }}
			{{ /entries:next }}
	</div>
</div>

