<div class="content-nav-main">
	<div class="content-nav left">
		<ul>
		<li><a href="{{ homepage }}">Adam Weisman</a></li>
		{{ nav from="/" exclude="about|resume" }}
			<li><a href="{{ url }}"{{ if is_current || is_parent }} class="current"{{ endif }}>{{ title }} </a>
				{{ if is_current || is_parent }}
				{{ if children }}
				<ul>
					{{ *recursive children* }}
				</ul>
				{{ endif }}
				{{ endif }}
			</li>
			{{ /nav }}
		</ul>
	</div>
	
	<div class="content-nav right">
		<a href="#"><h4>CONTACT</h4></a>
		
	</div>
</div>