@include border-box-sizing;

$susy: (
	columns: 12,
	column-width: 2em,
	gutter-width: 1/4,
	gutter-position: after,
);

$small: 420px;
$medium: 768px;
$large: 1000px;

$small-screen-width: 30em;

@include establish-baseline;

html, body, #{headings()}, a, span, p {
	color: $base-font-color;
	font-family: $base-font-family;
}

html, body {
	height: 100%;
	margin: 0;
	background-color: $background;

	
}
html, body, p {
	letter-spacing: .03rem;
}


h1 {
	margin-bottom: 12px;
	@include responsiveTypeSize(xlarge);
}
h2 {
	font-family: "RBNo2.1a-medium";
}

h3,h4 {
	font-family: "RBNo2.1a-book";
	// a {
	// 	font-family: "RBNo2.1a-light";
	// }
}
h3 {
	@include responsiveTypeSize(base);
}


p {
	@include responsiveTypeSize(base);
	@include trailer;
	letter-spacing: .03rem;
	&:first-of-type {
		@include leader;
	}
	&:last-of-type {
		@include padding-trailer;
	}
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}