.case-studies {
	.image {
		display: inline-block;
	}
	img {
		max-width: 600px;
		// display: inline-block;
	}
}


img {
	max-width: 800px !important;
}
figure img {
	min-width: 1000px;
}
.hidden {
	display: none;
}
// .slick-initialized .slick-slide {
// 	display: inline-block;
// }



img.mfp-img {
	max-width: 90%;
}

.mfp-zoom-in {
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out; 
    transform: scale(0.8); 
  }
  
  &.mfp-bg {
    opacity: 0;
	  transition: all 0.5s ease-out;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: scale(0.8); 
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  
}