#landing-nav {
	margin-bottom: 30px;
}

.landing-nav {
	display: inline-block;
	margin-top: 36px;
	vertical-align: top;
	position: relative;

	&.left {
		@include span (first 6);
		text-align: right;
		// padding-right: 30px;
		.border {
			margin-left: auto;
			margin-right: 0;
		}
	}
	&.right {
		@include span(last 6);
		ul {
			margin-top: 8px;
		}
	}
	.details {
		width: 221px;
		float: left;
		clear: left;
		margin-right: 20px;
		text-align: left;
		display: inline-block;
		// border-left: 3px solid $green;
		// padding-left: 30px;
		// padding-right: 30px;

		li:first-of-type {
			text-transform: uppercase;
		}
		li:last-of-type  {
			margin-bottom: 0;
			margin-top: 17px;
		}
		li {
			&:nth-child(4n) {
				clear: right;
			}
		}
		li:hover .border {
			width: 100%;
			background-color: $red;
		}
	}
	.contact {
		width: 283px;
		display: inline-block;
		li:hover .border {
			width: 100%;
			background-color: $red;
		}
	}
	.border {
		width: 60px;
		height: 5px;
		background-color: $green;
		content: "";
		margin-top: 3px;
		margin-bottom: 10px;
			@include transition-property(width);
			@include transition(.35s);
			@include transition-timing-function(ease-in);

	}
	h1,h2 {
		text-align: right;
		display: inline-block;
		text-transform: uppercase;
		padding-bottom: 6px;
		;
	}
	h1 {
		line-height: 64px;
		border-bottom: 12px solid $green;
		padding-bottom: 6px;
	}
	h2 {
		border-bottom: 5px solid $green;
		padding-bottom: 3px;
		margin-top: 0;
		margin-bottom: 0;
		line-height: .8em;
	}
	h3,h4 {
		margin: 0;
		padding-bottom: 0;
		border-bottom: 5px solid $green;
		text-align: left;
	}
	h4 {
		margin-top: 4px;
		line-height: 1.05em;
	}
	li  {
		&:last-of-type h3 {
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
	a {
		padding-bottom: 0;
	}
}

.content-nav-main {
	width: 100%;
	position: fixed;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 50px;
	background-color: $background;
	h3,h4 {
		display: inline-block;
	}
	.content-nav {
		display: inline-block;
		margin: 0 20px 0;
		h4 {
			margin: 0;
			padding: 0;
			display: inline-block;
		}
		li {
			a,p {
				border-bottom: 7px solid $green;
			}
			&:hover {
				.border {
					width: 100%;
					background-color: $red;
				}
			}
		}
		.border {
			width: 20px;
			height: 7px;
			background-color: $green;
			content: "";
			margin-top: 8px;
			margin-bottom: 12px;
			@include transition-property(width);
			@include transition(.15s);
			@include transition-timing-function(ease-in);
		}
		.paginate {
			display: inline-block;
			height: 30px;
			width: 30px;
			color: $background;
			font-size: 30px;
			line-height: 24px;
			font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
			font-weight: 100;
			text-align: center;

			&.enabled {
				background-color: $red;
				@include transition(.15s);
				&:hover {
					color: $green;
				}
			}
			&.disabled {
				background-color: rgba($red,.6);
			}
		}
		&.right {
			float: right;
			.border {
				width: 30px;
			}

		}
	}
}
