#landing-nav {
	margin-bottom: 30px;
}

.landing-nav {
	display: inline-block;
	margin-top: 36px;
	vertical-align: top;
	position: relative;
	&.left {
		@include pre(1);
		@include span(4);
		text-align: right;
		padding-right: 30px;
		.border {
			margin-left: auto;
			margin-right: 0;
		}
	}
	&.middle {
		@include span(3);
		text-align: left;
		border-left: 3px solid $green;
		padding-left: 30px;
		padding-right: 30px;

		li:first-of-type {
			text-transform: uppercase;
		}
		li:last-of-type .border {
			margin-bottom: 0;
		}
		li {

		}
		li:hover .border {
			width: 100%;
		}
	}
	&.right {
		@include span(3);
	}
	.border {
		width: 60px;
		height: 2px;
		background-color: $green;
		content: "";
		margin-top: 3px;
		margin-bottom: 10px;
			@include transition-property(width);
			@include transition(.15s);
			@include transition-timing-function(ease-in);

	}
	h1,h2 {
		text-align: right;
		display: inline-block;
		text-transform: uppercase;
		padding-bottom: 6px;
		;
	}
	h1 {
		line-height: 64px;
		border-bottom: 12px solid $green;
		padding-bottom: 6px;
	}
	h2 {
		border-bottom: 5px solid $green;
		padding-bottom: 3px;
		margin-top: 0;
		margin-bottom: 0;
	}
	h3,h4 {
		margin: 0;
		padding-bottom: 0;
		border-bottom: 5px solid $green;
		text-align: left;
	}
	li  {
		&:last-of-type h3 {
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
	a {
		padding-bottom: 0;
	}
}

.content-nav-main {
	width: 100%;
	position: fixed;
	z-index: 10;
	padding-top: 36px;
	padding-bottom: 50px;
	background-color: $beige;
	h3,h4 {
		display: inline-block;
	}
	.content-nav {
		display: inline-block;
		&.left {
			margin-left: 20px;
			li:first-of-type {
				margin-bottom: 12px;
				a {
					border-bottom: 5px solid $green;
				}
			}
			li:last-of-type {
				a {
					border-bottom: 3px solid $green;

					&:after {
						border-bottom: 3px solid $green;
					}
				}
				.border {
					width: 20px;
					height: 2px;
					background-color: $green;
					content: "";
					margin-top: 3px;
				}
			}
		}
		&.right {
			margin-right: 20px;
			float: right;
			li a {
				border-bottom: 3px solid $green;

				&:after {
					border-bottom: 3px solid $green;
				}
			}
			.border {
				width: 30px;
				height: 2px;
				background-color: $green;
				content: "";
				margin-top: 3px;
				margin-bottom: 12px;
			}
			.paginate {
				display: inline-block;
				height: 30px;
				width: 30px;
				&.enabled {
					background-color: $red;
				}
				&.disabled {
					background-color: rgba($red,.8);
				}
			}
		}
	}
}
