

@font-face {
font-family: RBNo2;
src: url(../../main/fonts/Rene_Bieder-RBNo2.1a-BookItalic.otf);
}

@font-face {
font-family: RBNo2.1a-book;
src: url(../../main/fonts/Rene_Bieder-RBNo2.1a-Book.otf);
}

@font-face {
font-family: RBNo2.1a-Medium;
src: url(../../main/fonts/Rene_Bieder-RBNo2.1a-Medium.otf);
}

@font-face {
font-family: RBNo2.1a-Light;
src: url(../../main/fonts/Rene_Bieder-RBNo2.1a-Light.otf);
}


@font-face {
font-family: hurme-thin;
src: url(../../main/fonts/Hurme_Design-HurmeGeometricSans4_Thin.otf);
}

@font-face {
font-family: neusa-semi-bold;
src: url(../../main/fonts/The_Northern_Block-Neusa-SemiBold.otf);
}
